<ion-view>
  <ion-content>
   <div class="bghome">
    <div class="list list-inset pos">
        <label class="item item-input item-input-customized">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
    </div>

    <div class="list card">

      <div class="item item-avatar">
        <img src="../php/img/polylime.jpg">
        <h2>ESPN</h2>
        <p>Kyrie Irving trade rumors</p>
      </div>

      <div class="item item-image">
        <img src="../php/img/polylime.jpg">
      </div>

      <a class="item item-icon-left calm" href="#">
        <i class="icon ion-more ion-icon-small"></i>
        Read article
      </a>

    </div>

    <div class="list card margin-card">

      <div class="item item-avatar">
        <img src="../php/img/polylime.jpg">
        <h2>CNN</h2>
        <p>Linkin Park's Chester Bennington commited suicide on July 20, 2017</p>
      </div>

      <div class="item item-image">
        <img src="../php/img/polylime.jpg">
      </div>

      <a class="item item-icon-left calm" href="#">
        <i class="icon ion-more ion-icon-small"></i>
        Read article
      </a>
      
    </div>
    <br>
  </div>
  </ion-content>
</ion-view>