<ion-view ng-controller="channel">
  <ion-content>
   <div class="bghome">
   <br><br>
    <div class="animation-target">
      <center><a ui-sref="app.mtvnews"><img src="php/img/mtvnewsshaded.png" height="155" width="350"></a></center>

    </div>

   <div class="animation-target">
     <center><a ui-sref="app.espn"><img src="php/img/espnshaded.png" height="155" width="350"></a></center>
   </div>

  <div class="animation-target">
    <center><a ui-sref="app.wsj"><img src="php/img/wsjshaded.png" height="155" width="350"></a></center>
  </div>
  <br><br><br>
  </div>
  </ion-content>
</ion-view>
