<ion-view ng-controller="channel">
  <ion-content>
    <div class="bg">
      <br> <div class="list-borderless list-inset pos">
        <label class="item item-input item-input-customized">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>
      </div>
    </div>

    <div class="row">
    
      <div class="col col-50">
        <div class="list card margin-card" >
            <a class="item" href="#">
              <div class="item item-image">
                <img src="../php/img/polylime.jpg">
              </div>
              </a>
              <button ng-click="bookmarked()" class="item item-icon-left">
              <i class="icon ion-flag-outline"></i>
              <h2> ESPN </h2>
              </button>


          </div>

      </div>
      </div>
    </div>
    <button class="button button-assertive" ng-click="beeps()"> beep  </button>
  </ion-content>
</ion-view>