<ion-view ng-controller="channel">
  <ion-content>
    <div class="bg">
      <br> <div class="list-borderless list-inset pos">
        <label class="item item-input item-input-customized">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>
      </div>
    </div>

    <ion-list>
      <ion-item ng-repeat="n in channellist">
        Hello, {{n.cname}}!
      </ion-item>
    </ion-list>

    <!--<button class="button button-assertive" ng-click="alert()"> beep  </button> -->
  </ion-content>
</ion-view>
