<ion-view>
  <ion-content>
   <div class="bgusersignup">
    <div class="list-borderless trans padding">
      <label class="item item-input item-floating-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="Username">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="text" placeholder="Password">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <button ui-sref="app.about" class="button button-outline button-block button-positive">
          Create Account
        </button>
      </label>
    </div>
   </div>

  </ion-content>
</ion-view>